<template bindable="booking">
  <div class="row">
    <span class="col-xs-9">
      ${booking.firstName} | <!-- would prefer forename -->
      ${booking.surname} |
      ${booking.numberOfDiners} |
      ${booking.startingAt}
    </span>
    <span class="col-xs-3">
      <button class="btn-primary">View</button>
      <button class="btn-primary">Edit</button>
    </span>
    <!--
    ${booking.emailAddress}
    ${booking.id}
    ${booking.menu}
    ${booking.menuId}
    ${booking.cutOffDate}
    ${booking.telephoneNumber}
    -->
  </div>
  <hr>
</template>
